<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% if content_for?(:head) %>
      <%= yield_content :head %>
    <% else %>
      <title><%= content_for?(:page_title) ? yield_content(:page_title) : page_title %></title>
      <meta name="description" content="<%= meta_description %>">
    <% end %>

    <meta name="robots" content="<%= robots %>">
    <%= partial "partials/meta/favicon" %>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap&display=swap"
      rel="stylesheet"
    />

    <%# Getting the main stylesheet generated from webpack. Using a regex because of asset hashes %>
    <% sitemap.resources.select {|resource| resource.path =~ /^(main).*$/}.each do |resource| %>
      <% if resource.path =~ /\.(css)/ %>
        <link rel="stylesheet" type="text/css" href="/<%= resource.path %>">
      <% end %>
    <% end %>
    
    <% if production? %>
      <%= stylesheet_link_tag "https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.css" %>
    <% else %>
      <%= stylesheet_link_tag "https://cdn.snipcart.com/themes/v3.0/default/snipcart.css" %>
    <% end %>

    <meta name="google-site-verification" content="KSIwicnXARzh9Pv1igm5rWDKP-Zh1cA3tYVjs4uk_zE">
    <%= partial "partials/meta/open_graph" %>
    <%= feed_tag :atom, "#{blog("blog").options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body class="font-sans <%= page_classes %> <%= current_resource.data.header_class %> <%= article_class %> <%= content_for?(:page_class) ? yield_content(:page_class) : "" %> at-the-top bg-gradient-to-tr from-green-default to-green-dark">
    <%= partial "partials/shared/header" %>
    <main class="mt-16 sm:mt-20" role="main">
      <%= yield %>
    </main>
    <%= partial "partials/shared/footer" %>
    <% sitemap.resources.select {|resource| resource.path =~ /^(main).*$/}.each do |resource| %>
      <% if resource.path =~ /\.(js)/ %>
        <%= javascript_include_tag resource.path %>
      <% end %>
    <% end %>
    <% if production? %>
      <%= partial "partials/meta/analytics" %>
    <% end %>
    <%= partial "partials/meta/schema" if current_page.url == "/" %>
    <div hidden id="snipcart" data-api-key="<%= ENV["SNIPCART_API_KEY"] %>">
      <%= partial "partials/store/cart_components" %>
    </div>
    <% if production? %>
      <script src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
    <% else %>
      <script src="https://cdn.snipcart.com/themes/v3.0/default/snipcart.js"></script>
    <% end %>
    <% sitemap.resources.select {|resource| resource.path =~ /^(snipcart).*$/}.each do |resource| %>
      <% if resource.path =~ /\.(css)/ %>
        <link rel="stylesheet" type="text/css" href="/<%= resource.path %>">
      <% end %>
    <% end %>
    <%= partial "partials/shared/age-gate" if production? %>
  </body>
</html>
