<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="robots" content="<%= robots %>">
    <%= partial "partials/favicon" %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "https://cdn.snipcart.com/themes/v3.0/default/snipcart.css" %>
    <meta name="google-site-verification" content="KSIwicnXARzh9Pv1igm5rWDKP-Zh1cA3tYVjs4uk_zE">
    <%= partial "partials/open_graph" %>
    <%= feed_tag :atom, "#{blog("blog").options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body class="<%= page_classes %> <%= current_resource.data.header_class %> <%= article_class %> at-the-top">
    <%= partial "partials/site_header" %>
    <main class="main" role="main">
      <%= yield %>
    </main>
    <%= partial "partials/site_footer" %>
    <%= javascript_include_tag "main" %>
    <%= partial "partials/analytics" if config[:ga_code] %>
    <%= partial "partials/schema" if current_page.url == "/" %>
    <!--
    <div hidden id="snipcart" data-api-key="<%= ENV["snipcart-api-key"] %>"></div>
    <script src="https://cdn.snipcart.com/themes/v3.0/default/snipcart.js" defer></script>
-->
    <%= stylesheet_link_tag "snipcart" %>
  </body>
</html>
