<% wrap_layout :layout do %>
  <article role="article">
    <div class="article-banner small-row" style="background-image: url(<%= image_path(current_article.data.header_image) %>)">
      <div class="grid-row">
        <h1>
          <%= current_article.title %>
        </h1>
        <time datetime="<%= current_article.date.strftime("%F") %>">
          <%= I18n.l(current_article.date, format: :blog_date) %>
        </time>
      </div>
    </div>
    <div class="article-content small-row">
      <div class="grid-row">
        <%= yield %>
      </div>
    </div>
  </article>
<% end %>
