<% wrap_layout :layout do %>
  <section class="bg-center bg-no-repeat bg-cover py-16 px-6" style="<%= "background-image: url(#{image_path('blogs/' + current_article.data.cover_image)});" if current_article.data.cover_image %>">
    <h1 class="text-4xl max-w-2xl m-auto text-center text-white mb-2">
        <%= current_article.title %>
    </h1>
    <p class="text-white text-center">
        <%= local_date_time(current_article.date) %>
    </p>
  </section>
  <section class="bg-white">
    <div class="prose max-w-2xl m-auto py-16 px-6">
      <%= yield %>
    </div>
  </section>
  <section class="w-full m-auto max-w-7xl px-6 py-16">
    <%= content_tag(:h2, t("pages.blog.more_posts"), class: "mb-10 text-center text-4xl text-white") %>
    <% blog.articles[0..1].each do |article| %>
      <% unless article == current_article %>
        <%= post_card post: article %>
      <% end %>
    <% end %>
    <div class="px-6 text-center">
      <%= button text: t("pages.blog.view_all_posts"),
                 link: true,
                 href: "/blog/",
                 type: :default_white,
                html: { class: "inline-block" } %>
    </div>
  </section>
<% end %>
