<% wrap_layout :layout do %>
  <%= regular_header title: current_article.title %>

  <%
  if current_article.data.images
    product_image = current_article.data.images.first
  end
  %>

  <section class="mb-12 max-w-7xl m-auto lg:px-6">
    <div class="bg-white lg:flex">
      <figure class="h-full relative lg:w-3/5">
        <picture class="block h-full w-full relative bg-white">
          <%= image_tag "webshop/#{product_image}", id: "product-image", class: "product-image w-full h-full object-cover" %>
        </picture>
        <% if current_article.data.images.count > 1 %>
          <nav class="-bottom-8 flex justify-center m-width-sm absolute w-full lg:bottom-0 lg:justify-start lg:left-0 lg:m-4">
            <% current_article.data.images.each_with_index do |product_image, index| %>
              <%= product_thumbnail product_image: product_image,
                                    product: current_article,
                                    index: index %>
            <% end %>
          </nav>
        <% end %>
      </figure>
      <div class="product-content lg:w-2/5 bg-white px-6 py-12">
        <div class="flex">
          <% if current_article.data.price %>
            <div class="flex-1 flex items-start">
              <div class="mr-3">
                <%= product_price(current_article, 'py-1 text-sm') %>
            </div>
            <%= product_discount(current_article, 'relative') %>
          </div>
        <% end %>
        <div class="font-bold">
          <% if current_article.data.in_stock == false %>
            <%= t("webshop.out_of_stock") %>
          <% elsif current_article.data.only_a_few_left %>
            <%= t("webshop.only_a_few") %>
          <% elsif current_article.data.in_stock %>
            <%= t("webshop.in_stock") %>
          <% end %>
        </div>
        <%#= yield %>
      </div>
      <div class="italic text-sm mb-6">
        <%= t("webshop.incl_tax") %> <%= link_to t("webshop.shipping"), "/shipping-and-returning.html" %>
      </div>
      <div class="prose mb-3">
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>
