<%
if current_article.data.images
  product_image = current_article.data.images.first
end
%>

<% wrap_layout :layout do %>
  <header class="normal-page-header">
    <div class="grid-row">
      <h1>
        <%= current_article.title %>
      </h1>
    </div>
  </header>
  <section class="product wide-row">
    <div class="grid-row product-item">
      <figure class="product-figure">
        <picture>
          <% if product_image %>
            <%= image_tag product_image, alt: current_article.title, class: "product-image" %>
          <% else %>
            <%= image_tag "/assets/images/shop/placeholder.png", alt: current_article.title, class: "product-image" %>
          <% end %>
        </picture>

        <% if product_image && current_article.data.images.count > 1 %>
          <nav class="thumbnails">
            <% current_article.data.images.each_with_index do |image, index| %>
              <% if index == 0 %>
                <button class="active">
              <% else %>
                <button class="">
              <% end %>
                  <picture>
                    <%= image_tag image, alt: current_article.title, class: "product-thumbnail" %>
                  </picture>
                </button>
            <% end %>
          </nav>
        <% end %>
      </figure>
      <div class="product-content">
        <div class="product-price">
          <% if current_page.data.old_price %>
            <div class="old-price">
              <span>
                € <%= number_to_currency(current_page.data.old_price, :unit => "").gsub!(/\./,",") %>
              </span>
            </div>
          <% end %>
          <div class="price">€ <%= number_to_currency(current_page.data.price, :unit => "").gsub!(/\./,",") %></div>
        </div>
        <p class="vat">
          Incl. VAT
        </p>

        <div class="product-description">
          <%= yield %>
        </div>

        <div class="product-controls">
          <% unless current_page.data.out_of_stock %>
            <% if current_article.data.sizes %>
              <div class="sizes">
                <label>
                  Size
                </label>
                <div class="select">
                  <select id="size" name="size">
                    <% current_article.data.sizes.each do |size| %>
                      <% if size.stock %>
                        <option value="<%= size.title %>"><%= size.title %></option>
                      <% else %>
                        <option value="<%= size.title %>" disabled><%= size.title %> (Out of Stock)</option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="quantity-and-cart">
            <% unless current_article.data.max_quantity == 1 || current_page.data.out_of_stock %>
              <div class="product-quantity">
                <label>
                  Quantity <%= "(max #{current_article.data.max_quantity} pp)" if current_article.data.max_quantity %>
                </label>
                <% if current_article.data.max_quantity %>
                  <input class="product-quantity-input" type="number" name="quantity" id="quantity" value="1" min="1" max="<%= current_article.data.max_quantity %>">
                <% else %>
                  <input class="product-quantity-input" type="number" name="quantity" id="quantity" value="1" min="1">
                <% end %>
              </div>
            <% end %>
            <div class="add-to-cart">
              <% if current_article.data.out_of_stock %>
                <% content_tag :button, class: "button green medium-size full-width solid", :disabled => "disabled" do %>
                  Out of Stock
                <% end %>
              <% else %>
                <%= partial "partials/store/_snipcart_button", locals: { product: current_article, variant: "medium-size solid green buy-button" } %>
              <% end %>
            </div>
          </div>

          <div class="shipping-conditions">
            <%= partial "content/shipping-conditions" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="products wide-row">
    <div class="grid-row">
      <h2 class="products-header">
        More Products
      </h2>
      <div class="products-grid-wrap">
        <div class="products-grid feed">
          <div class="row">
            <% (blog().articles - [current_article])[0...3].each do |product| %>
              <%= partial "partials/store/product_preview", locals: { product: product } %>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="grid-row back-link">
      <%= partial "partials/button", locals: { to: "/store/index.html",
                                               variant: "medium-size ghost no-border green",
                                               icon_left: "icons/arrow-left.svg",
                                               text: t("webshop.back_to_all_products")} %>
    </div>
  </section>
<% end %>

<%
if product_image
  full_image_url = full_url(image_path(product_image))
else
  full_image_url = full_url(image_path("/assets/images/store/placeholder.png"))
end
%>

<%
if current_article.data.out_of_stock
  stock_prop = "https://schema.org/OutOfStock"
else
  stock_prop = "http://schema.org/InStock"
end
%>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "image": [
      "<%= full_image_url %>"
    ],
    "name": "<%= current_article.title %>",
    "description": "<%= current_article.data.description %>",
    "brand": {
      "@type": "Brand",
      "name": "Folkingebrew"
    },
    "offers": {
      "@type": "Offer",
      "url": "<%= full_url(current_page.url) %>",
      "itemCondition": "http://schema.org/NewCondition",
      "availability": "<%= stock_prop %>",
      "price": "<%= current_article.data.price %>",
      "priceCurrency": "EUR",
      "shippingDetails": {
        "@type": "OfferShippingDetails",
        "shippingRate": {
          "@type": "MonetaryAmount",
          "value": "5.99",
          "currency": "EUR"
        },
        "shippingDestination": {
          "@type": "DefinedRegion",
          "addressCountry": "NL"
        }
      }
    }
  }
</script>

