<%
if current_article.data.images
  product_image = current_article.data.images.first
end
%>

<% wrap_layout :layout do %>
  <header class="normal-page-header">
    <div class="grid-row">
      <h1>
        <%= current_article.title %>
      </h1>
    </div>
  </header>
  <section class="product wide-row">
    <div class="grid-row product-item">
      <figure class="product-figure">
        <picture>
          <% if product_image %>
            <%= image_tag product_image, alt: current_article.title, class: "product-image", id: "product-image" %>
          <% else %>
            <%= image_tag "/assets/images/shop/placeholder.png", alt: current_article.title, class: "product-image", id: "product-image" %>
          <% end %>
        </picture>
        <% if product_image && current_article.data.images.count > 1 %>
          <nav class="thumbnails">
            <% current_article.data.images.each_with_index do |image, index| %>
              <% if index == 0 %>
                <button class="active">
              <% else %>
                <button class="">
              <% end %>
                  <picture>
                    <%= image_tag image, alt: current_article.title, class: "product-thumbnail" %>
                  </picture>
                </button>
            <% end %>
          </nav>
        <% end %>
      </figure>
      <div class="product-content">
        <div class="product-price-stock">
          <div class="product-price">
            <% if current_page.data.old_price %>
              <div class="old-price">
                <span>
                  € <%= number_to_currency(current_page.data.old_price, :unit => "").gsub!(/\./,",") %>
                </span>
              </div>
            <% end %>
            <div class="price">€ <%= number_to_currency(current_page.data.price, :unit => "").gsub!(/\./,",") %></div>
            <p class="tax">
              Incl. tax, excl. <%= link_to "shipping", "/shipping-and-returning.html" %>
            </p>
          </div>
          <div class="stock">
            <% if current_article.data.out_of_stock %>
              <p>
                Out of Stock 😔
              </p>
            <% else %>
              <p>
                In Stock 😊
              </p>
            <% end %>
          </div>
        </div>
        <div class="product-description">
          <%= yield %>
        </div>
        <div class="product-form">
          <% unless current_page.data.out_of_stock %>
            <% if current_article.data.sizes %>
              <div class="product-sizes product-form-item">
                <label>
                  Size
                </label>
                <div class="select">
                  <select id="size" name="size">
                    <% current_article.data.sizes.each do |size| %>
                      <% if size.stock %>
                        <option value="<%= size.title %>"><%= size.title %></option>
                      <% else %>
                        <option value="<%= size.title %>" disabled><%= size.title %> (Out of Stock)</option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
            <% end %>
            <% unless current_page.data.max_quantity == 1 %>
              <div class="product-quantity product-form-item">
                <label>
                  Quantity <%= "(max #{current_article.data.max_quantity})" if current_article.data.max_quantity %>
                </label>
                <div class="quantity-controls">
                  <% if current_article.data.max_quantity %>
                    <input type="number" value="1" id="quantity" name="quantity" min="1" max="<%= current_article.data.max_quantity %>">
                  <% else %>
                    <input type="number" value="1" id="quantity" name="quantity" min="1">
                  <% end %>
                  <button type="button" class="quantity-adjust quantity-adjust--minus" aria-label="Reduce item quantity by one">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-minus" viewBox="0 0 22 3"><path fill="#000" d="M21.5.5v2H.5v-2z" fill-rule="evenodd"></path></svg>
                    <span class="icon-fallback-text">−</span>
                  </button>
                  <button type="button" class="quantity-adjust quantity-adjust--plus" aria-label="Increase item quantity by one">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 22 21"><path d="M12 11.5h9.5v-2H12V0h-2v9.5H.5v2H10V21h2v-9.5z" fill="#000" fill-rule="evenodd"></path></svg>
                    <span class="icon-fallback-text">+</span>
                  </button>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if current_article.data.out_of_stock %>
            <div class="webshop-newsletter">
              <p class="out-of-stock">
                Subscribe to our newsletter to get updates about our beer, store, news and events.
              </p>
              <%= partial "partials/shared/newsletter-form", locals: { button_text: "Subscribe" } %>
            </div>
          <% else %>
            <div class="product-add-to-cart product-form-item">
              <%= partial "partials/store/_snipcart_button", locals: { product: current_article, variant: "medium-size solid green buy-button" } %>
            </div>
          <% end %>
        </div>
        <div class="product-details">
            <ul class="accordion">
              <li>
                <a class="toggle" href="javascript:void(0);">
                  Shipping & Paying
                </a>
                <div class="inner">
                  <%= partial "content/shipping-conditions" %>
                </div>
              </li>
              <% if current_article.data.product_details %>
                <li>
                  <a class="toggle" href="javascript:void(0);">
                    Product details
                  </a>
                  <div class="inner">
                    <p>
                      <%= current_article.data.product_details %>
                    </p>
                  </div>
                </li>
              <% end %>
              <% if current_article.data.sizes && current_article.data.sizes.any? { |size| size['lxb'] } %>
                <li>
                  <a class="toggle" href="javascript:void(0);">
                    Sizes
                  </a>
                  <div class="inner">
                    <table class="size-table">
                      <thead>
                        <tr>
                          <th>&nbsp;</th>
                          <th>L x W (CM)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% current_article.data.sizes.each do |size| %>
                          <tr>
                            <td>
                              <%= size.title %>
                            </td>
                            <td>
                              <%= size.lxb %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <p>
                      The sizes are indicative and no rights can be derived from them.
                    </p>
                    <% if current_article.data.size_image %>
                      <div class="size-image">
                        <%= image_tag current_article.data.size_image, alt: "Size Image" %>
                      </div>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </section>
  <section class="products wide-row">
    <div class="grid-row products-row">
      <h2 class="products-header">
        More Products
      </h2>
      <div class="products-grid-wrap">
        <div class="products-grid feed">
          <div class="row">
            <%
              def stocked_articles
                articles = []
                  (blog().articles).select do |article|
                    next if article.data.out_of_stock
                    articles << article
                  end
                articles
              end
            %>
            <% (stocked_articles - [current_article]).sample(3).each do |article| %>
              <%= partial "partials/store/product_preview", locals: { product: article } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-row all-products">
      <%= partial "partials/button", locals: { to: "/store/index.html",
                                               variant: "medium-size ghost no-border green",
                                               text: "See all products",
                                               icon_left: "icons/arrow-left.svg"} %>
    </div>
  </section>
<% end %>

<%
if product_image
  full_image_url = full_url(image_path(product_image))
else
  full_image_url = full_url(image_path("/assets/images/store/placeholder.png"))
end
%>

<%
if current_article.data.out_of_stock
  stock_prop = "https://schema.org/OutOfStock"
else
  stock_prop = "http://schema.org/InStock"
end
%>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "image": [
      "<%= full_image_url %>"
    ],
    "name": "<%= current_article.title %>",
    "description": "<%= current_article.data.description %>",
    "brand": {
      "@type": "Brand",
      "name": "Folkingebrew"
    },
    "offers": {
      "@type": "Offer",
      "url": "<%= full_url(current_page.url) %>",
      "itemCondition": "http://schema.org/NewCondition",
      "availability": "<%= stock_prop %>",
      "price": "<%= current_article.data.price %>",
      "priceCurrency": "EUR",
      "shippingDetails": {
        "@type": "OfferShippingDetails",
        "shippingRate": {
          "@type": "MonetaryAmount",
          "value": "5.99",
          "currency": "EUR"
        },
        "shippingDestination": {
          "@type": "DefinedRegion",
          "addressCountry": "NL"
        }
      }
    }
  }
</script>
