<% wrap_layout :layout do %>
  <header class="normal-page-header">
    <div class="grid-row">
      <h1>
        <%= t("pages.store.title") %>
      </h1>
    </div>
  </header>
  <section class="product wide-row">
    <div class="grid-row product-item">
      <div class="product-image">
        <div class="image-wrap">
          <%= image_tag current_article.data.image, alt: current_article.title, class: "image" %>
        </div>
      </div>
      <div class="product-content">
        <h2>
          <%= current_article.title %>
        </h2>
        <p class="price">
          <%= number_to_currency(current_page.data.price, :unit => "€").gsub!(/\./,",") %>
        </p>
        <p class="vat">
          Incl. VAT
        </p>

        <%= yield %>

        <div class="product-controls">
          <% unless current_article.data.max_quantity == 1 || current_page.data.out_of_stock %>
            <div class="product-quantity">
              <label>
                Quantity <%= "(max #{current_article.data.max_quantity} pp)" if current_article.data.max_quantity %>:
              </label>
              <% if current_article.data.max_quantity %>
                <input class="product-quantity-input" type="number" name="quantity" id="quantity" value="1" min="1" max="<%= current_article.data.max_quantity %>">
              <% else %>
                <input class="product-quantity-input" type="number" name="quantity" id="quantity" value="1" min="1">
              <% end %>
            </div>
          <% end %>

          <% if current_article.data.sizes %>
            <div class="sizes">
              <label>
                Sizes:
              </label>
              <div class="select">
                <select id="size" name="size">
                  <%
                    available_sizes = current_article.data.sizes.split("|")
                  %>

                  <% available_sizes.each do |size| %>
                    <option value="<%= size %>"><%= size %></option>
                  <% end %>
                </select>
              </div>
            </div>
          <% end %>
        </div>

        <div class="add-to-cart">
          <% if current_page.data.out_of_stock %>
            <% content_tag :button, class: "button green medium-size full-width solid", :disabled => "disabled" do %>
              Sold Out
            <% end %>
          <% else %>
            <%= partial "partials/store/_snipcart_button", locals: { product: current_article, variant: "medium-size solid green buy-button" } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="grid-row back-link">
      <%= partial "partials/button", locals: { to: "/store/index.html",
                                               variant: "medium-size ghost no-border green",
                                               icon_left: "icons/arrow-left.svg",
                                               text: t("webshop.back_to_all_products")} %>
    </div>
  </section>
<% end %>
