
<% if locals[:background_image] %>
  <header class="banner <%= variant %>" role="banner" style="background-image: url(<%= image_path(locals[:background_image]) %>)">
<% else %>
  <header class="banner <%= variant %>" role="banner">
<% end %>

  <% if locals[:title] || locals[:text] || (locals[:button_link] && locals[:button_text]) %>
    <div class="grid-row">

      <% if locals[:pre_title] %>
        <%= content_tag :h2 do pre_title end %>
      <% end %>

      <% if locals[:title] %>
        <%= content_tag title_tag ||= :h1, class: "title" do title end %>
      <% end %>

      <% if locals[:sub_title] %>
        <%= content_tag h2 ||= :h2, class: "sub_title" do sub_title end %>
      <% end %>

      <% if locals[:sub_text] %>
        <%= content_tag h3 ||= :h3, class: "sub_text" do sub_text end %>
      <% end %>

      <% if locals[:button_link] && locals[:button_text] %>
        <%= partial "partials/button", locals: { to: button_link,
                                                 text: button_text,
                                                 variant: button_variant } %>
      <% end %>

    </div>
  <% end %>

</header>
