<% data.beers.each do |item| %>
  <div class="flex-item">
    <div class="col col-img">
      <div><img src="<%= item.image %>" alt="<%= item.item %>"></div>
    </div>
    <div class="col">
      <div><strong><%= item.item %></strong></div>
      <div><%= item.style %></div>

      <% if item.ibu || item.abv || item.rating %>
        <div class="item-meta">
          <% if item.abv %>
            <div><%= item.abv %>% Vol. Alc.</div>
          <% end %>
          <% if item.ibu %>
            <div><%= item.ibu %> IBU</div>
          <% end %>
          <% if item.rating %>
            <div>⭐ <%= item.rating %></div>
          <% end %>
        </div>
      <% end %>

      <% if item.description %>
        <div class="item-description"><%= item.description %></div>
      <% end %>
    </div>
  </div>
<% end %>
