<%= partial "partials/newsletter_signup" unless current_page.url == "/newsletter/" || current_page.url == "/thanks/" %>

<footer class="bg-black text-gray-400">
  <div class="max-w-7xl m-auto sm:flex px-6 pt-12 flex-wrap">
    <% footer_column do %>
      <%= content_tag(:h3, t("company_name"), class: "font-bold mb-3") %>
      <%= footer_link text: t("navigation.beers"),
                      link: "/beers/index.html" %>
      <%= footer_link text: t("navigation.about"),
                      link: "/about.html" %>
      <%= footer_link text: t("navigation.faq"),
                      link: "/frequently-asked-questions.html",
                      html: { class: "mb-6" } %>
    <% end %>
    <% footer_column do %>
      <%= content_tag(:h3, t("footer.up_to_date"), class: "font-bold mb-3") %>
      <%= footer_link text: t("navigation.newsletter"),
                      link: "/newsletter.html" %>
      <%= footer_link text: t("navigation.blog"),
                      link: "/blog/index.html" %>
      <%= footer_link text: t("navigation.events"),
                      link: "/events.html",
                      html: { class: "mb-6" } %>
    <% end %>
    <% footer_column do %>
      <%= content_tag(:h3, t("footer.buy"), class: "font-bold mb-3") %>
      <%= footer_link text: t("navigation.shop"),
                      link: "/webshop/" %>
      <%= footer_link text: t("navigation.shipping"),
                      link: "/shipping-and-returning.html" %>
      <%= footer_link text: t("navigation.dealers"),
                      link: "/local-dealers.html" %>
      <%= footer_link text: t("navigation.distributors"),
                      link: "/distributors.html" %>
    <% end %>
    <% footer_column do %>
      <%= content_tag(:h3, t("footer.legal"), class: "font-bold mb-3") %>
      <%= footer_link text: t("navigation.terms"),
                      link: "/terms-and-conditions.html" %>
      <%= footer_link text: t("navigation.privacy"),
                      link: "/privacy-policy.html" %>
    <% end %>
    <% footer_column do %>
      <%= content_tag(:h3, t("footer.adress"), class: "font-bold mb-3") %>
      <%= content_tag(:address, markdownify(t("address")), class: "not-italic") %>
      <%= footer_link text: "info@folkingebrew.nl",
                      link: "mailto:info@folkingebrew.nl" %>
    <% end %>
  </div>
  <div class="max-w-7xl m-auto pb-6 px-3 flex justify-center">
    <div class="flex">
      <% icon href: "https://www.facebook.com/Folkingebrew-167577637289407/", html: { class: "w-7 h-7 mr-5 flex items-center" } do %>       
        <%= inline_svg "icons/facebook.svg" %>
      <% end %>
      <% icon href: "https://www.instagram.com/folkingebrew/", html: { class: "w-7 h-7 mr-5 flex items-center" } do %>
        <%= inline_svg "icons/instagram.svg" %>
      <% end %>
      <% icon href: "https://www.untappd.com/Folkingebrew/", html: { class: "w-7 h-7 flex items-center" } do %>
        <%= inline_svg "icons/untappd.svg" %>
      <% end %>
    </div>
  </div>
  <div class="max-w-7xl m-auto mb-3 px-3 flex justify-center">
    <% icon href: "https://www.nix18.nl/", html: { class: "flex items-center w-16" }  do %>
      <%= inline_svg "icons/nix18.svg" %>
    <% end %>
  </div>
  <div class="max-w-7xl m-auto pb-6 px-3 text-center text-sm">
    &copy; <%= Time.new.year %> <%= t("company_name") %>. <%= t("footer.rights") %>.
    <% icon href: "https://github.com/RonaldDijkstra/folkingebrew", html: { class: "inline-block w-3 h-3 items-center"} do %>
      <%= inline_svg "icons/github.svg" %>
    <% end %>
  </div>
</footer>
