<footer role="contentinfo" class="bg-black text-white text-gray-500">
  <div class="max-w-7xl m-auto sm:flex py-12 px-6 flex-wrap">
    <div class="mb-3 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <h3 class="font-bold mb-3">
        <%= t("company_name") %>
      </h3>
      <%= footer_link text: t("navigation.beers"),
                      link: "/beers/index.html" %>
      <%= footer_link text: t("navigation.about"),
                      link: "/about.html" %>
      <%= footer_link text: t("navigation.faq"),
                      link: "/frequently-asked-questions.html",
                      html: { class: "mb-6" } %>
      <% icon href: "https://www.nix18.nl/", html: { class: "flex items-center"}  do %>
        <svg class="fill-current" role="img" xmlns="http://www.w3.org/2000/svg" width="50" height="24" viewBox="0 0 50 13.51">
          <path d="M14.71,0a1.75,1.75,0,0,0-1.9,1.6V11.87a1.75,1.75,0,0,0,1.9,1.6,1.78,1.78,0,0,0,1.92-1.6V1.6A1.78,1.78,0,0,0,14.71,0ZM8.65.08A1.74,1.74,0,0,0,6.76,1.67v4L3.52.84l0,0L3.44.74A1.73,1.73,0,0,0,2,.08H1.89A1.74,1.74,0,0,0,0,1.67V11.91A1.74,1.74,0,0,0,1.89,13.5,1.77,1.77,0,0,0,3.8,11.91v-4l3.09,4.57a1.51,1.51,0,0,0,.49.61,1.83,1.83,0,0,0,1.17.41h.1a1.78,1.78,0,0,0,1.92-1.59V1.67A1.78,1.78,0,0,0,8.65.08Z" transform="translate(0 0)"/><path d="M36.22.15a2.46,2.46,0,0,0-.85.16l-2.25.8a2,2,0,0,0-1,2.61A2.16,2.16,0,0,0,34,5.21h.08v6.35a2,2,0,0,0,2.12,1.84,2,2,0,0,0,2.14-1.84V2A2,2,0,0,0,36.22.15Zm0,12.38c-.7,0-1.25-.42-1.25-1V4l-.71.26a.59.59,0,0,1-.23,0,1.3,1.3,0,0,1-1.11-.91,1.13,1.13,0,0,1,.5-1.5l2.25-.81a1.68,1.68,0,0,1,.55-.1,1.15,1.15,0,0,1,1.27,1v9.57A1.15,1.15,0,0,1,36.22,12.53ZM48.7,6a3.65,3.65,0,0,0,.63-2,4.14,4.14,0,0,0-8.26,0,3.62,3.62,0,0,0,.63,2,4.27,4.27,0,0,0-1.3,3A4.82,4.82,0,0,0,50,9,4.27,4.27,0,0,0,48.7,6Zm-3.5,6.58A3.76,3.76,0,0,1,41.27,9a3.41,3.41,0,0,1,1.3-2.62l.33-.28-.28-.34A2.74,2.74,0,0,1,41.94,4a3.28,3.28,0,0,1,6.52,0,2.74,2.74,0,0,1-.68,1.79l-.29.34.34.27A3.4,3.4,0,0,1,49.13,9,3.76,3.76,0,0,1,45.2,12.57Z" transform="translate(0 0)"/><path d="M23,7.82a1.44,1.44,0,0,1-.47-1,1.36,1.36,0,0,1,.55-1.12l1-1L24.75,4,22,1.05A2,2,0,0,0,20.53.24a2.21,2.21,0,0,0-1.42.62,1.78,1.78,0,0,0,0,2.66l3.08,3.31-3.09,3.34a1.84,1.84,0,0,0,.11,2.69,1.76,1.76,0,0,0,1.21.5,2.4,2.4,0,0,0,1.55-.7l2.75-3L23,7.82Z" transform="translate(0 0)"/>
          <path d="M30.55.78h0A2.29,2.29,0,0,0,29.08.15,2,2,0,0,0,27.54,1L24.09,4.7l-1,1a1.36,1.36,0,0,0-.55,1.12,1.44,1.44,0,0,0,.47,1l4.55,4.91a2.43,2.43,0,0,0,1.61.72,1.86,1.86,0,0,0,1.28-.52,1.92,1.92,0,0,0,.1-2.82l-3-3.28,3-3.23A1.88,1.88,0,0,0,30.55.78Zm-4,6L30,10.61a1.17,1.17,0,0,1-.06,1.77,1.09,1.09,0,0,1-.77.33,1.67,1.67,0,0,1-1.07-.49L23.53,7.28h0a.63.63,0,0,1-.23-.44c0-.12,0-.31.3-.55l4.5-4.81h0a1.3,1.3,0,0,1,1-.57,1.48,1.48,0,0,1,.94.42,1.15,1.15,0,0,1,0,1.77L26.52,6.82Z" transform="translate(0 0)"/>
        </svg>
      <% end %>
    </div>
    <div class="mb-3 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <h3 class="font-bold mb-3">
        <%= t("footer.up_to_date") %>
      </h3>
      <%= footer_link text: t("navigation.newsletter"),
                      link: "/newsletter.html" %>
      <%= footer_link text: t("navigation.blog"),
                      link: "/blog/index.html" %>
      <%= footer_link text: t("navigation.events"),
                      link: "/events.html",
                      html: { class: "mb-6" } %>
      <div class="flex">
        <% icon href: "https://www.facebook.com/Folkingebrew-167577637289407/", html: { class: "w-5 h-5 mr-3 flex items-center"} do %>       
          <svg class="fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
          </svg>
        <% end %>
        <% icon href: "https://www.instagram.com/folkingebrew/", html: { class: "w-5 h-5 mr-3 flex items-center"} do %>
          <svg class="fill-current" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
        <% end %>
        <% icon href: "https://www.untappd.com/Folkingebrew/", html: { class: "w-5 h-5 flex items-center"} do %>
          <svg class="fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M11 13.299l-5.824 8.133c-.298.416-.8.635-1.308.572-.578-.072-1.374-.289-2.195-.879S.392 19.849.139 19.323a1.402 1.402 0 0 1 .122-1.425l5.824-8.133a3.066 3.066 0 0 1 1.062-.927l1.146-.604c.23-.121.436-.283.608-.478.556-.631 2.049-2.284 4.696-4.957l.046-.212a.134.134 0 0 1 .096-.1l.146-.037a.135.135 0 0 0 .101-.141l-.015-.18a.13.13 0 0 1 .125-.142c.176-.005.518.046 1.001.393s.64.656.692.824a.13.13 0 0 1-.095.164l-.175.044a.133.133 0 0 0-.101.141l.012.15a.131.131 0 0 1-.063.123l-.186.112c-1.679 3.369-2.764 5.316-3.183 6.046a2.157 2.157 0 0 0-.257.73l-.205 1.281A3.074 3.074 0 0 1 11 13.3zm12.739 4.598l-5.824-8.133a3.066 3.066 0 0 0-1.062-.927l-1.146-.605a2.138 2.138 0 0 1-.608-.478 50.504 50.504 0 0 0-.587-.654.089.089 0 0 0-.142.018 97.261 97.261 0 0 1-1.745 3.223 1.42 1.42 0 0 0-.171.485 3.518 3.518 0 0 0 0 1.103l.01.064c.075.471.259.918.536 1.305l5.824 8.133c.296.413.79.635 1.294.574a4.759 4.759 0 0 0 2.209-.881 4.762 4.762 0 0 0 1.533-1.802 1.4 1.4 0 0 0-.122-1.425zM8.306 3.366l.175.044a.134.134 0 0 1 .101.141l-.012.15a.13.13 0 0 0 .063.123l.186.112c.311.623.599 1.194.869 1.721.026.051.091.06.129.019.437-.469.964-1.025 1.585-1.668a.137.137 0 0 0 .003-.19c-.315-.322-.645-.659-1.002-1.02l-.046-.212a.13.13 0 0 0-.096-.099l-.146-.037a.135.135 0 0 1-.101-.141l.015-.18a.13.13 0 0 0-.123-.142c-.175-.005-.518.045-1.002.393-.483.347-.64.656-.692.824a.13.13 0 0 0 .095.164z"/></svg>
        <% end %>
      </div>
    </div>
    <div class="mb-3 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <h3 class="font-bold mb-3">
        <%= t("footer.buy") %>
      </h3>
      <%= footer_link text: t("navigation.shop"),
                      link: "/store.html" %>
      <%= footer_link text: t("navigation.shipping"),
                      link: "/shipping-and-returning.html" %>
      <%= footer_link text: t("navigation.dealers"),
                      link: "/local-dealers.html" %>
      <%= footer_link text: t("navigation.distributors"),
                      link: "/distributors.html" %>
    </div>
    <div class="mb-3 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <h3 class="font-bold mb-3">
        <%= t("footer.legal") %>
      </h3>
      <%= footer_link text: t("navigation.terms"),
                      link: "/terms-and-conditions.html" %>
      <%= footer_link text: t("navigation.privacy"),
                      link: "/privacy-policy.html" %>
    </div>
    <div class="mb-3 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <h3 class="font-bold mb-3">
        <%= t("footer.contact") %>
      </h3>
      <%= footer_link text: t("footer.email"), 
                      link: "/contact.html" %>
    </div>
    <div class="mb-3 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <h3 class="font-bold mb-3">
        <%= t("footer.address") %>
      </h3>
      <adress>
        <%= t("address") %>
      </adress>
    </div>

  </div>
  <div class="max-w-7xl m-auto py-6 px-3 text-center text-sm">
    &copy; <%= Time.new.year %> <%= t("company_name") %>. <%= t("footer.rights") %>.
  </div>
</footer>
