<footer class="bg-black text-white text-gray-500">
  <div class="max-w-7xl m-auto sm:flex py-12 px-6 flex-wrap">
    <div class="mb-6 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <%= content_tag(:h3, t("company_name"), class: "font-bold mb-3") %>
      <%= footer_link text: t("navigation.beers"),
                      link: "/beers/index.html" %>
      <%= footer_link text: t("navigation.about"),
                      link: "/about.html" %>
      <%= footer_link text: t("navigation.faq"),
                      link: "/frequently-asked-questions.html",
                      html: { class: "mb-6" } %>
      <% icon href: "https://www.nix18.nl/", html: { class: "flex items-center"}  do %>
        <%= inline_svg "icons/nix18.svg" %>
      <% end %>
    </div>
    <div class="mb-6 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <%= content_tag(:h3, t("footer.up_to_date"), class: "font-bold mb-3") %>
      <%= footer_link text: t("navigation.newsletter"),
                      link: "/newsletter.html" %>
      <%= footer_link text: t("navigation.blog"),
                      link: "/blog/index.html" %>
      <%= footer_link text: t("navigation.events"),
                      link: "/events.html",
                      html: { class: "mb-6" } %>
      <div class="flex">
        <% icon href: "https://www.facebook.com/Folkingebrew-167577637289407/", html: { class: "w-5 h-5 mr-3 flex items-center"} do %>       
          <%= inline_svg "icons/facebook.svg" %>
        <% end %>
        <% icon href: "https://www.instagram.com/folkingebrew/", html: { class: "w-5 h-5 mr-3 flex items-center"} do %>
          <%= inline_svg "icons/instagram.svg" %>
        <% end %>
        <% icon href: "https://www.untappd.com/Folkingebrew/", html: { class: "w-5 h-5 flex items-center"} do %>
          <%= inline_svg "icons/untappd.svg" %>
        <% end %>
      </div>
    </div>
    <div class="mb-6 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <%= content_tag(:h3, t("footer.buy"), class: "font-bold mb-3") %>
      <%= footer_link text: t("navigation.shop"),
                      link: "/store/" %>
      <%= footer_link text: t("navigation.shipping"),
                      link: "/shipping-and-returning.html" %>
      <%= footer_link text: t("navigation.dealers"),
                      link: "/local-dealers.html" %>
      <%= footer_link text: t("navigation.distributors"),
                      link: "/distributors.html" %>
    </div>
    <div class="mb-6 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <%= content_tag(:h3, t("footer.legal"), class: "font-bold mb-3") %>
      <%= footer_link text: t("navigation.terms"),
                      link: "/terms-and-conditions.html" %>
      <%= footer_link text: t("navigation.privacy"),
                      link: "/privacy-policy.html" %>
    </div>
    <div class="mb-6 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <%= content_tag(:h3, t("footer.contact"), class: "font-bold mb-3") %>
      <%= footer_link text: t("footer.email"), 
                      link: "/contact.html" %>
    </div>
    <div class="mb-6 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
      <%= content_tag(:h3, t("footer.adress"), class: "font-bold mb-3") %>
      <%= content_tag(:address, t("address"), class: "not-italic") %>
    </div>

  </div>
  <div class="max-w-7xl m-auto py-6 px-3 text-center text-sm">
    &copy; <%= Time.new.year %> <%= t("company_name") %>. <%= t("footer.rights") %>.
  </div>
</footer>
