<form name="<%= locals[:name] %>" method="POST" data-netlify="true" netlify-honeypot="honeypot" action="/thanks/">
  <fieldset>
    <div class="hidden">
       <label>Don’t fill this out if you're human: <input name="honeypot" /></label>
    </div>
    <% if locals[:fields].include? "name" %>
      <div class="form-item">
        <label for="name">
          <%= t("form.name") %>
        </label>
        <input type="text" name="naam" id="name" required>
      </div>
    <% end %>

    <% if locals[:fields].include? "email" %>
      <div class="form-item">
        <label for="email">
          <%= t("form.email") %>
        </label>
        <input type="email" name="e-mail" id="email" required>
      </div>
    <% end %>

    <% if locals[:fields].include? "type" %>
      <div class="form-item">
        <label for="inquiry-type">
          <%= t("form.request_type") %>
        </label>
        <div class="select">
          <select id="inquiry-type" name="inquiry-type" required>
            <option selected disabled><%= t("form.choose") %></option>
            <option value="particulier"><%= t("form.private") %></option>
            <option value="zakelijk"><%= t("form.business") %></option>
          </select>
        </div>
      </div>
    <% end %>

    <% if locals[:fields].include? "message" %>
      <div class="form-item">
        <label for="message">
          <%= t("form.message") %>
        </label>
        <textarea name="<%= t("form.message") %>" id="message" rows="6"></textarea>
      </div>
    <% end %>

    <div>
      <button type="submit" class="button <%= + locals[:button_variant] ||= "default" %>">
        <% if locals[:button_text] %>
          <%= locals[:button_text] %>
        <% else %>
          <%= t("buttons.submit") %>
        <% end %>
        <% if locals[:icon_right] %>
          <%= inline_svg icon_right, class: "inline-svg button-icon-right" %>
        <% end %>
      </button>
    </div>
  </fieldset>
</form>
