<form name="<%= locals[:name] %>" method="POST" data-netlify="true" netlify-honeypot="honeypot" action="/thanks/">
  <input type="hidden" name="form-name" value="<%= locals[:name] %>">
  <fieldset class="max-w-lg m-auto">
    <label class="hidden">Don't fill this out if you're human: <input name="honeypot" /></label>
    <% if locals[:fields].include? "name" %>
      <label for="name" class="block font-bold">
        <%= t("form.name") %>
      </label>
      <input type="text" name="naam" id="name" class="mb-3 w-full focus:border-green-default focus:ring-green-default" required>
    <% end %>
    <% if locals[:fields].include? "email" %>
      <label for="email" class="block font-bold">
        <%= t("form.email") %>
      </label>
      <input type="email" name="e-mail" id="email" class="mb-3 w-full focus:border-green-default focus:ring-green-default" required>
    <% end %>
    <% if locals[:fields].include? "message" %>
      <label for="message" class="block font-bold">
        <%= t("form.message") %>
      </label>
      <textarea name="<%= t("form.message") %>" id="message" rows="10" class="block mb-3 w-full focus:border-green-default focus:ring-green-default" required></textarea>
    <% end %>
    <% if locals[:fields].include? "motivation" %>
      <label for="message" class="block font-bold">
        Motivatie
      </label>
      <textarea name="<%= t("form.message") %>" id="message" rows="10" class="block mb-3 w-full focus:border-green-default focus:ring-green-default" required></textarea>
    <% end %>
    <% if locals[:fields].include? "cv" %>
      <label for="file" class="block font-bold">
        Curriculum vitae
      </label>
      <input name="file" type="file" class="block mb-3" required />
    <% end %>
    <% if locals[:fields].include? "team_name" %>
      <label for="team_name" class="block font-bold">
        Teamnaam
      </label>
      <input type="text" name="team_name" id="team_name" class="mb-3 w-full focus:border-green-default focus:ring-green-default" required>
    <% end %>
    <% if locals[:fields].include? "team_size" %>
      <label for="team_size" class="block font-bold">
        Aantal spelers (max 4)
      </label>
      <input type="number" name="team_size" id="team_size" class="mb-3 w-full focus:border-green-default focus:ring-green-default" min="1" max="4" required>
    <% end %>
    <%= button text: t("buttons.submit"),
               type: :primary,
               html: { class: "" } %>
  </fieldset>
</form>
