<form name="<%= locals[:name] %>" method="POST" data-netlify="true" netlify-honeypot="honeypot" action="/thanks/">
  <fieldset class="max-w-lg m-auto">
    <label class="hidden">Don’t fill this out if you're human: <input name="honeypot" /></label>
    <% if locals[:fields].include? "name" %>
      <label for="name" class="block font-bold">
        <%= t("form.name") %>
      </label>
      <input type="text" name="naam" id="name" class="mb-3 w-full focus:border-green-default focus:ring-green-default" required>
    <% end %>
    <% if locals[:fields].include? "email" %>
      <label for="email" class="block font-bold">
        <%= t("form.email") %>
      </label>
      <input type="email" name="e-mail" id="email" class="mb-3 w-full focus:border-green-default focus:ring-green-default" required>
    <% end %>
    <% if locals[:fields].include? "message" %>
      <label for="message" class="block font-bold">
        <%= t("form.message") %>
      </label>
      <textarea name="<%= t("form.message") %>" id="message" rows="10" class="block mb-3 w-full focus:border-green-default focus:ring-green-default"></textarea>
    <% end %>
    <%= button text: t("buttons.submit"),
               type: :primary,
               html: { class: "" } %>
  </fieldset>
</form>
