<% navigation_items = data["navigation_main"] %>

<nav class="site-header bg-black transition-all duration-150 ease-in-out fixed w-full left-0 top-0 z-10">
  <div class="max-w-full mx-auto px-2 relative z-10 sm:px-6">
    <div class="relative flex justify-between h-16 sm:h-20">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white" aria-controls="mobile-menu" aria-expanded="false" id="menu-toggle">
          <span class="sr-only">Open main menu</span>
          <svg class="button-show-nav block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#FFFFFF" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class="button-hide-nav hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#FFFFFF" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center md:justify-start">
        <div class="logo flex-shrink-0 flex items-center md:w-40">
          <% link_to "/" do %>
            <%= image_tag "logo-folkingebrew-hopje.svg", class: "block h-12 w-auto", alt: "Folkingebrew Groningen" %>
          <% end %>
        </div>
        <div class="hidden sm:block sm:w-full sm:flex sm:justify-center">
          <% navigation_items.each do |item| %>
            <%= navigation_link text: item.title,
                                link: item.link %>
          <% end %>
          <%= link_to "Store",
                      "/store/",
                      class: "py-2 px-3 bg-green-default font-medium text-lg border-green-default text-white
                              hover:bg-green-darker hover:border-green-darker" %>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex justify-end items-center pr-2 sm:static sm:pr-0 sm:inset-auto w-40">
        <a class="snipcart-customer-signin text-white bg-transparent flex align-center text-xs sm:text-sm focus:outline-none mr-3 hover:cursor-pointer">
          <svg viewBox="0 0 64 64" class="block w-5 h-5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.609 57c-2.131 0-4.107-.888-5.562-2.499-1.543-1.707-2.268-4.023-1.988-6.342l.856-7.167c.487-4.11 2.666-7.791 5.985-10.095l1.753 2.454c-2.609 1.812-4.329 4.725-4.715 7.989l-.859 7.17a5.074 5.074 0 001.242 3.999c.868.96 2.037 1.491 3.288 1.491H45.39c1.251 0 2.42-.531 3.288-1.491a5.074 5.074 0 001.242-3.999l-.855-7.167c-.39-3.267-2.107-6.177-4.72-7.992l1.754-2.454c3.319 2.307 5.501 5.988 5.989 10.098l.852 7.164c.28 2.319-.445 4.635-1.988 6.342C49.501 56.112 47.523 57 45.391 57H19.61zM18.8 19.5C18.8 12.057 24.947 6 32.5 6c7.554 0 13.7 6.057 13.7 13.5S40.053 33 32.5 33c-7.552 0-13.699-6.057-13.699-13.5zm3.045 0c0 5.79 4.78 10.5 10.655 10.5 5.875 0 10.655-4.71 10.655-10.5S38.376 9 32.5 9c-5.876 0-10.655 4.71-10.655 10.5z" fill="#FFFFFF"></path></svg> 
          <div class="whitespace-nowrap">My account</div>
        </a>
        <div class="snipcart-summary">
          <button type="button" class="snipcart-checkout bg-transparent flex text-sm focus:outline-none">
            <span class="sr-only">Open Cart</span>
            <%= image_tag "icons/cart.svg", class: "block w-6 h-6", alt: "cart icon" %>
            <span class="snipcart-items-count text-white w-3"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="mobile-menu" class="mobile-navigation hidden fixed overflow-scroll top-0 pt-16 bg-black w-full h-full left-0">
    <div class="px-4 pt-2 pb-3 space-y-1 h-full flex flex-col justify-center items-start">
      <% navigation_items.each do |item| %>
        <%= mobile_navigation_link text: item.title,
                                   link: item.link %>
      <% end %>
      <%= link_to "Store",
                  "/store/",
                  class: "block py-2 px-4 ml-3 flex-0 bg-green-default border-green-default text-white
                          hover:bg-green-darker hover:border-green-darker" %>
    </div>
  </div>
</nav>
