<footer role="footer">
  <div class="content-wrap">
    <div class="grid-row">
      <div class="col col-logo">
        <%= inline_svg "hopje.svg", alt: "Folkingebrew HOP" %>
      </div>
      <div class="col">
        <h4><%= t("footer.contact") %></h4>
        <div><%= link_to t("footer.email_us"), "/contact.html" %></div>
      </div>
      <div class="col social">
        <h4><%= t("footer.social") %></h4>
        <div>
          <a href="https://www.untappd.com/Folkingebrew" class="social-icon icon-untappd" target="_blank" rel="noopener noreferrer"></a>
          <a href="https://www.facebook.com/Folkingebrew-167577637289407/" class="social-icon icon-facebook" target="_blank" rel="noopener noreferrer"></a>
          <a href="https://www.instagram.com/folkingebrew/" class="social-icon icon-instagram" target="_blank" rel="noopener noreferrer"></a>
          </div>
      </div>
    </div>
    <div class="grid-row copyright">
      &copy; <%= Time.new.year %> Folkingebrew
    </div>
  </div>
</footer>
