<header class="site-header">
  <a href="#menu-toggle" title="Open Nav Menu" class="nav-menu-toggle" id="menu-toggle">
    <span class="sr-only">toggle menu</span>
    <span class="bar top"></span>
    <span class="bar center x1"></span>
    <span class="bar center x2"></span>
    <span class="bar bottom"></span>
  </a>
  <%= link_to "", "/", relative: false, class: "logo position-mobile-center", style: "background-image: url(#{image_path("logo-folkingebrew-hopje.svg")})" %>
  <div class="nav-wrap" role="navigation">
    <ul id="menu-primary" class="header-navigation primary-navigation">
      <li class="menu-item">
        <%= current_link_to t("navigation.beers"), "/beers/", class: "root-link" %>
      </li>
      <li class="menu-item">
        <%= current_link_to t("navigation.webshop"), "/webshop/", class: "root-link" %>
      </li>
      <li class="menu-item">
        <%= current_link_to t("navigation.about"), "/about/", class: "root-link" %>
      </li>
      <li class="menu-item">
        <%= current_link_to t("navigation.faq"), "/frequently-asked-questions/", class: "root-link" %>
      </li>
      <li class="menu-item">
        <%= current_link_to t("navigation.blog"), "/blog/", class: "root-link" %>
      </li>
      <li class="menu-item">
        <%= current_link_to t("navigation.contact"), "/contact/", class: "root-link" %>
      </li>
    </ul>
  </div>
  <div class="nav-extras">
    <div class="header-cart">
      <a href="#" class="snipcart-checkout">
        <div class="snipcart-total-items">3</div>
        <div class="icon-cart"></div>
      </a>
    </div>
  </div>
</header>
