<nav class="site-navigation" role="navigation">

  <a id="mobile-toggle" class="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <div class="navigation-bar">
    <ul class="menu">
      <li>
        <%= current_link_to "Home", "/", class: "root-link" %>
      </li>
      <li>
        <%= current_link_to "Bieren", "/onze-bieren/", class: "root-link" %>
      </li>
      <li>
        <%= current_link_to "Nieuws", "/nieuws/", class: "root-link" %>
      </li>
      <li>
        <%= current_link_to "Over Ons", "/over-ons/", class: "root-link" %>
      </li>
      <li>
        <%= current_link_to "Contact", "/contact/", class: "root-link" %>
      </li>
    </ul>
  </div>
</nav>
