<section class="social-links">
  <div class="grid-row">
    <h2>
      Sharing is caring!
    </h2>

    <div class="social-links">
      <a href="https://www.facebook.com/sharer.php?u=<%= permalink_url %>" class="icon-facebook" target="_blank" rel="nofollow noopener noreferrer" title="Deel op Facebook" data-popup='{"width":580,"height":296}'></a>  <a href="https://twitter.com/intent/tweet?text=<%= URI.encode(current_page.title) %>&amp;url=<%= permalink_url %>" target="_blank" class="icon-twitter" rel="nofollow noopener noreferrer" title="Deel op Twitter"  data-popup='{"width":550,"height":235}'></a>
      <a href="whatsapp://send?text=<%= current_page.title %> <%= permalink_url %>" class="icon-whatsapp" target="_blank" rel="nofollow noopener noreferrer" title="Deel via Whatsapp"></a>
      <a href="mailto:gebruiker@provider.nl?subject=<%= current_page.title %>&amp;body=<%= permalink_url %>" class="icon-mail" target="_blank" rel="nofollow noopener noreferrer" title="Deel via E-mail"></a>
    </div>
  </div>
</section>
