<footer role="contentinfo">
  <div class="grid-row">
    <div class="footer-content">
      <div class="footer-column">
        <div class="footer-link-column footer-link-column-first">
          <h3>
            <%= t("company_name") %>
          </h3>
          <ul class="footer-link-list">
            <li><%= link_to t("navigation.beers"), "/beers/index.html" %></li>
            <li><%= link_to t("navigation.about"), "/about.html" %></li>
            <li><%= link_to t("navigation.faq"), "/frequently-asked-questions.html" %></li>
          </ul>
          <%= image_tag "nix18.svg" %>
        </div>
        <div class="footer-link-column secondary">
          <h3>
            <%= t("footer.up_to_date") %>
          </h3>
          <ul class="footer-link-list">
            <li><%= link_to t("navigation.newsletter"), "/newsletter.html" %></li>
            <li><%= link_to t("navigation.blog"), "/blog/index.html" %></li>
            <li><%= link_to t("navigation.events"), "/events.html" %></li>
          </ul>
          <%= partial "partials/shared/social-links" %>
        </div>
      </div>
      <div class="footer-column">
        <div class="footer-link-column">
          <h3>
            <%= t("footer.buy") %>
          </h3>
          <ul class="footer-link-list">
            <li><%= link_to t("navigation.shop"), "/store/index.html" %></li>
            <li><%= link_to t("navigation.shipping"), "/shipping-and-returning.html" %></li>
            <li><%= link_to t("navigation.dealers"), "/local-dealers.html" %></li>
            <li><%= link_to t("navigation.distributors"), "/distributors.html" %></li>
          </ul>
        </div>
        <div class="footer-link-column secondary">
          <h3>
            <%= t("footer.legal") %>
          </h3>
          <ul class="footer-link-list">
            <li><%= link_to t("navigation.terms"), "/terms-and-conditions.html" %></li>
            <li><%= link_to t("navigation.privacy"), "/privacy-policy.html" %></li>
          </ul>
        </div>
      </div>
      <div class="footer-column">
        <div class="footer-link-column">
          <h3>
            <%= t("footer.contact") %>
          </h3>
          <ul class="footer-link-list">
            <li><%= link_to t("footer.email"), "/contact.html" %></li>
          </ul>
        </div>
        <div class="footer-link-column secondary">
          <h3>
            <%= t("footer.address") %>
          </h3>
          <address class="footer-link-list-address">
            <%= t("address") %>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-row copyright">
    &copy; <%= Time.new.year %> <%= t("company_name") %>. <%= t("footer.rights") %>.
  </div>
</footer>
