<header class="site-header flex bg-black h-20 px-6 py-6 w-full fixed z-10 lg:px-12">

  <a href="#menu-toggle" title="Open Nav Menu" class="bg-transparent block text-transparent relative w-16 h-16 z-20 lg:hidden" id="menu-toggle">
    <span class="sr-only">toggle menu</span>
    <span class="bar top bg-white h-1 w-8 absolute  left-0 top-2/4 block -mt-3"></span>
    <span class="bar x1 bg-white h-1 w-8 absolute left-0 top-2/4 block"></span>
    <span class="bar x2 bg-white h-1 w-8 absolute left-0 top-2/4 block"></span>
    <span class="bar bottom bg-white h-1 w-8 absolute  left-0 top-2/4 block mt-3"></span>
  </a>

  <%#= link_to "", "/", relative: false, class: "logo position-mobile-center", style: "background-image: url(#{image_path("logo-folkingebrew-hopje.svg")})" %>

  <nav class="main-navigation opacity-0 lg:opacity-100" role="navigation">
    <%= current_link_to t("navigation.shop"), "/store/", class: "text-white hover:text-gray-300" %>
    <%= current_link_to t("navigation.beers"), "/beers/", class: "text-white hover:text-gray-300" %>
    <%= current_link_to t("navigation.about"), "/about/", class: "text-white hover:text-gray-300" %>
    <%= current_link_to t("navigation.faq"), "/frequently-asked-questions/", class: "text-white hover:text-gray-300" %>
    <%= current_link_to t("navigation.blog"), "/blog/", class: "text-white hover:text-gray-300" %>
    <%= current_link_to t("navigation.newsletter"), "/newsletter/", class: "text-white hover:text-gray-300" %>
    <%= current_link_to t("navigation.contact"), "/contact/", class: "text-white hover:text-gray-300" %>
  </nav>
  
  <% if config[:use_webshop?] %>
  <!-- 
    <div class="snipcart-summary">
      <a class="snipcart-checkout">
        <%= inline_svg "icons/cart.svg" %>
        <span class="snipcart-items-count"></span>
      </a>
    </div>
  -->
  <% end %>

</header>
