---
title: "Nieuws"
description: "Nieuws over Folkingebrew"
blog: nieuws
pageable: true
---

<section class="single-column">
  <div class="grid-row">
    <% page_articles.each do |article| %>
      <article>
        <div class="post-header">
          <time datetime="<%= article.date.strftime("%F") %>">
            <%= I18n.l(article.date, format: :blog_date) %>
          </time>
          <h2 class="post-title">
            <%= link_to article.title, article.url %>
          </h2>
        </div>
        <div class="post-image">
          <% if article.data.featured_image %>
            <% link_to article.url do %>
              <%= image_tag article.data.featured_image, alt: article.title %>
            <% end %>
          <% end %>
        </div>
        <p>
          <%= Nokogiri::HTML(article.summary).text %>
        </p>
        <%= link_to "Lees verder", article.url, class: "read-more button ghost" %>
      </article>
    <% end %>
  </div>
</section>
