<% content_for(:head) do %>
  <%= dato_meta_tags(beer) %>
<% end %>

<%
bg_color = beer.background_color == "dark" ? "bg-neutral" : "bg-white"
%> 

<section class="lg:flex lg:px-6 lg:mt-12 mb-12 max-w-7xl m-auto">
  <figure class="lg:flex-1 h-full lg:w-1/2 relative <%= bg_color %>">
    <picture class="block h-full w-full">
      <% if beer.image.url %>
        <%= image_tag beer.image.url(fm: :webp, h: 970, w:970), alt: beer.title, class: "product-image", id: "product-image", width: "970", height: "970" %>
      <% else %>
        <%= image_tag "/assets/images/shop/placeholder.png", alt: product.title, class: "product-image", id: "product-image", width: "970", height: "970" %>
      <% end %>
    </picture>
  </figure>
  <div class="bg-white px-6 py-12 lg:w-1/2 lg:flex lg:flex-col lg:justify-center">
    <h1 class="text-3xl font-bold">
      <%= beer.title %>
    </h1>
    <p class="mb-6">
      <%= beer.short_description %>
    </p>
    <div class="border-dotted border-t-4 border-l-4 border-r-0 border-b-0 flex flex-wrap mb-2 w-full">  
      <% unless beer.abv.strip.empty? %>
        <% beer_property do %>
          <div class="w-full font-bold text-2xl"><%= beer.abv %>%</div>
          <div class="w-full text-gray-400 text-sm"><%= t("beers.facts.abv") %></div>
        <% end %>
      <% end %>
      <% unless beer.style.strip.empty? %>
        <% beer_property do %>
          <div class="w-full font-bold"><%= beer.style %></div>
          <div class="w-full text-gray-400 text-sm"><%= t("beers.facts.style") %></div>
        <% end %>
      <% end %>
      <% unless beer.hops.strip.empty? %>
        <% beer_property do %>
          <div class="w-full font-bold"><%= beer.hops %></div>
          <div class="w-full text-gray-400 text-sm"><%= t("beers.facts.hops") %></div>
        <% end %>
      <% end %>
      <% unless beer.fruits.strip.empty? %>
        <% beer_property do %>
          <div class="w-full font-bold"><%= beer.fruits %></div>
          <div class="w-full text-gray-400 text-sm"><%= t("beers.facts.fruits") %></div>
        <% end %>
      <% end %>
      <% unless beer.malts.strip.empty? %>
        <% beer_property do %>
          <div class="w-full font-bold"><%= beer.malts %></div>
          <div class="w-full text-gray-400 text-sm"><%= t("beers.facts.malts") %></div>
        <% end %>
      <% end %>
      <% unless beer.adjuncts.strip.empty? %>
        <% beer_property do %>
          <div class="w-full font-bold"><%= beer.adjuncts %></div>
          <div class="w-full text-gray-400 text-sm"><%= t("beers.facts.adjuncts") %></div>
        <% end %>
      <% end %>
      <% unless beer.yeast.strip.empty? %>
        <% beer_property do %>
          <div class="w-full font-bold"><%= beer.yeast %></div>
          <div class="w-full text-gray-400 text-sm"><%= t("beers.facts.yeast") %></div>
        <% end %>
      <% end %>
      <% if beer.release_month %>
        <% beer_property do %>
          <div class="w-full font-bold"><%= beer.release_month %></div>
          <div class="w-full text-gray-400 text-sm"><%= t("beers.facts.release_date") %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<section>
  <div class="px-6 pb-12 text-center">
    <%= button text: "All beers",
               link: true,
               href: "/beers/",
               type: :default_white,
               html: { class: "inline-block" } %>
  </div>
</section>
