<% content_for(:head) do %>
  <%= dato_meta_tags(beer) %>
<% end %>

<%
bg_color = beer.background_color == "dark" ? "bg-neutral" : "bg-white"

bg_image = beer.background_image ? beer.background_image.url(fm: :webp, w: 1920, h: 1280) : ''
%>

<section class="<%= bg_color %> px-6 -mt-16 pt-16 md:-mt-20 md:pt-20 flex flex-col justify-center items-center bg-center bg-no-repeat bg-scroll bg-cover md:bg-fixed md:h-screen" style="background-image: url(<%= bg_image %>)">
  <figure>
    <picture class="block w-full max-w-4xl m-auto">
      <% if beer.image.url %>
        <img srcset="<%= beer.image.url %>?fm=webp&h=960&w=960&auto=enhance&dpr=1 1x,
             <%= beer.image.url %>?fm=webp&h=960&w=960&auto=enhance&dpr=2 2x,
             <%= beer.image.url %>?fm=webp&h=960&w=960&auto=enhance&dpr=3 3x"
             src="<%= beer.image.url %>?fm=webp&h=960&w=960&auto=enhance"
        />
      <% else %>
        <%= image_tag "/assets/images/shop/placeholder.png", alt: beer.title, id: "product-image", width: "800", height: "800" %>
      <% end %>
    </picture>
  </figure>
</section>

<section>
  <div class="bg-white px-6 py-12 lg:flex lg:flex-col lg:justify-center">
    <div class="m-auto max-w-3xl">
      <div class="pb-4">
        <h1 class="text-xl sm:text-3xl font-bold mb-2">
          <%= beer.title %>
        </h1>
        <div class="text-lg font-bold text-gray-400">
          <%= beer.style %> | <%= beer.abv %>%
        </div>
      </div>
      <div class="sm:flex pb-10">
        <div class="sm:w-2/3 sm:border-r sm:pr-10">
          <% unless beer.long_description.length == 0 %>
            <% markdown_content html: { class: "mb-4" } do %>
              <%= markdownify(beer.long_description) %>
            <% end %>
          <% else %>
            <p class="mb-4">
              <%= beer.short_description %>
            </p>
          <% end %>
          <% if beer.webshop_product %>
            <%= link_to("Availabe in our store", "/store/#{beer.webshop_product.slug}/", class: "text-green-default underline hover:no-underline") %>
          <% end %>
        </div>
        <div class="sm:w-1/3 sm:pl-10">
          <% unless beer.properties.length == 0 %>
            <% beer.properties.each do |ingredient| %>
              <div class="text-sm font-bold"><%= ingredient.key %></div>
              <div class="mb-2"><%= ingredient.value %></div>
            <% end %>
          <% end %>
          <% if beer.release_month %>
            <div class="text-sm font-bold"><%= t("beers.facts.release_date") %></div>
            <div class="mb-2"><%= beer.release_month %></div>
          <% end %>
          <% unless beer.untappd_url.length == 0 %>
            <% icon href: "#{beer.untappd_url}", html: { class: "bg-green-default mb-2 p-1 w-7 h-7 flex items-center hover:bg-green-darker" } do %>
              <%= inline_svg "icons/untappd.svg" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <%= button text: "All beers",
                   link: true,
                   href: "/beers/",
                   type: :default,
                   html: { class: "inline-block" } %>
      </div>
    </div>
  </div>
</section>
