---
type: product
---

<% content_for(:head) do %>
  <%= dato_meta_tags(product) %>
<% end %>

<%= regular_header title: product.title %>

<%
if product.images
  product_image = product.images.first
end
%>

<section class="mb-12 max-w-7xl m-auto lg:flex lg:px-6">
	<figure class="h-full relative lg:w-3/5">
    <picture class="block h-full w-full">
      <% if product_image %>
        <%#= image_tag product_image, alt: product.title, width: "970", height: "970", id: "product-image" %>

        <img srcset="<%= product_image.url %>?fm=webp&h=960&w=960&auto=enhance&fit=max&dpr=1 1x,
             <%= product_image.url %>?fm=webp&h=960&w=960&auto=enhance&fit=max&dpr=2 2x,
             <%= product_image.url %>?fm=webp&h=960&w=960&auto=enhance&fit=max&dpr=3 3x"
             src="<%= product_image.url %>?fm=webp&h=960&w=960&auto=enhance&fit=max" id="product-image"
        />
      <% else %>
        <%= image_tag "/assets/images/shop/placeholder.png", alt: product.title, width: "970", height: "970", class: "product-image", id: "product-image" %>
      <% end %>
    </picture>
    <% if product_image && product.images.count > 1 %>
      <nav class="-bottom-8 flex justify-center m-width-sm absolute w-full lg:bottom-0 lg:justify-end lg:right-0 lg:m-4">
        <% product.images.each_with_index do |product_image, index| %>
          <%= product_thumbnail product_image: product_image,
                                product: product,
                                index: index %>
        <% end %>
      </nav>
    <% end %>
 	</figure>
	<div class="product-content lg:w-2/5 flex-col bg-white px-6 py-12">
    <div class="flex">
      <div class="flex-1">
		    <%= product_price(product) %>
      </div>
      <div class="font-bold">
        <% if product.in_stock == false %>
          <%= t("webshop.out_of_stock") %>
        <% elsif product.only_a_few_left %>
          <%= t("webshop.only_a_few") %>
        <% elsif product.in_stock %>
          <%= t("webshop.in_stock") %>
        <% end %>
      </div>
    </div>
		<div class="italic text-sm mb-6">
			<%= t("webshop.incl_tax") %> <%= link_to t("webshop.shipping"), "/shipping-and-returning.html" %>
		</div>
		<div class="prose mb-3">
			<%= markdownify(product.short_description) %>
		</div>
    <% if product.in_stock %>
      <% if !product.sizes.empty? %>
      	<div class="mb-3">
          <label class="w-full block font-bold mb-2">
            Size
          </label>
          <select id="size" name="size" class="w-28 focus:border-green-default focus:ring-green-default">
            <% product.sizes.each do |size| %>
              <% if size.size_in_stock %>
                <option value="<%= size.size %>"><%= size.size %></option>
              <% else %>
                <option value="<%= size.size %>" disabled><%= size.size %> (Out of Stock)</option>
              <% end %>
            <% end %>
          </select>
         </div>
      <% end %>
      <div class="mb-3">
  	    <% unless product.max_quantity == 1 %>
  	    	<div class="inline-block">
  	    		<label class="font-bold block mb-2">
  	          <%= t("webshop.quantity") %> <%= "(#{t("webshop.max")} #{product.max_quantity})" if product.max_quantity %>
  	        </label>
  	        <div class="relative inline-flex">
              <%= product_quantity_input max: product.max_quantity %>

              <% product_quantity_button id: "quantity-minus", html: { class: "left-0 border-r", "aria-label": t("webshop.reduce_with_one")} do %>
                <svg aria-hidden="true" focusable="false" role="presentation" class="inline-block w-2 h-2" viewBox="0 0 22 3">
                  <path fill="#000" d="M21.5.5v2H.5v-2z" fill-rule="evenodd"></path>
                </svg>
                <span class="sr-only">−</span>
              <% end %>

              <% product_quantity_button id: "quantity-plus", html: { class: "right-0 border-l", "aria-label": t("webshop.increase_with_one")} do %>
                <svg aria-hidden="true" focusable="false" role="presentation" class="inline-block w-2 h-2" viewBox="0 0 22 21">
                  <path fill="#000" d="M12 11.5h9.5v-2H12V0h-2v9.5H.5v2H10V21h2v-9.5z" fill-rule="evenodd"></path>
                </svg>
                <span class="sr-only">+</span>
              <% end %>
  	        </div>
  	    	</div>
  	    <% end %>
  	    <%= buy_button product: product,
                       html: { class: "mb-3" } %>
  	  </div>
    <% end %>
    <div class="accordion border-t border-black">
      <% if !product.product_details.empty? %>
        <%= accordion_button text: t("webshop.product_details") %>
        <% accordion_content do %>
          <p>
            <%= product.product_details %>
          </p>
        <% end %>
      <% end %>
      <% if product.sizes && product.sizes.any? { |size| size['lxb'] } %>
        <%= accordion_button text: t("webshop.sizes") %>
        <% accordion_content do %>
          <table class="product-size-table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th><%= t("webshop.length_x_waist") %></th>
              </tr>
            </thead>
            <tbody>
              <% product.sizes.each do |size| %>
                <tr>
                  <td>
                    <%= size.size %>
                  </td>
                  <td>
                    <%= size.lxb %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <p>
            <%= t("webshop.size_disclaimer") %>
          </p>
          <% if product.size_image.url %>
            <div class="size-image">
              <%= image_tag product.size_image.url, alt: "Size Image", class: " lg:max-w-sm mx-auto" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%= accordion_button text: t("webshop.shipping_and_paying") %>
      <% accordion_content do %>
        <%= markdownify(dato.product_index.shipping_conditions) %>
      <% end %>
    </div>
	</div>
</section>
<section class="pt-10 pb-20">
  <%= content_tag(:h2, t("webshop.more_products"), class: "mb-10 text-center text-4xl text-white") %>
  <% grid content_tag: :div do %>
    <% (stocked_products - [product]).sample(3).each do |product| %>
      <%= product_card product: product %>
    <% end %>
  <% end %>
  <div class="px-6 text-center">
    <%= button text: "View all Products",
               link: true,
               href: "/store/",
               type: :default_white,
               html: { class: "inline-block" } %>
  </div>
</section>
