<article class="article-preview">
  <div class="post-header">
    <h2 class="post-title">
      <%= link_to article.title, article.url %>
    </h2>
    <time datetime="<%= article.date.strftime("%F") %>">
      <%= I18n.l(article.date, format: :blog_date) %>
    </time>
  </div>
  <div class="post-image">
    <% if article.data.featured_image %>
      <% link_to article.url do %>
        <%= image_tag article.data.featured_image, alt: article.title %>
      <% end %>
    <% end %>
  </div>
  <p>
    <%= Nokogiri::HTML(article.summary).text %>
  </p>
  <%= partial "partials/button", locals: { to: article.url,
                                           variant: "size-normal green style-ghost",
                                           text: "Lees verder",
                                           arrow_right: "icons/arrow-right.svg"} %>
</article>
