<header class="main-header">
  <div class="header-container">

    <div class="header-logo">
      <a class="logo" href="/">
        <img src="/images/logo-folkingebrew.svg" />
      </a>
    </div>

  </div>
  <nav>
    <ul>
      <li>
        <%= nav_link "Home", "/" %>
      </li>
      <li>
        <%= nav_link "Over Folkingebrew", "#" %>
      </li>
      <li>
        <%= nav_link "Bieren", "#" %>
      </li>
      <!-- <li>
        <%= nav_link "Events", "#" %>
      </li>
      <li>
        <%= nav_link "Blog", "#" %>
      </li> -->
      <li>
        <%= nav_link "Verkoop", "#" %>
      </li>
      <li>
        <%= nav_link "Contact", "#" %>
      </li>
    </ul>
  </nav>
</header>
