<header class="header">
  <div class="row">

    <a class="logo" href="/">
      FOLKINGEBREW
    </a>

    <div class="mobile-toggle">
      <span></span>
    </div>

    <nav>
      <ul>
        <li>
          <%= nav_link "Home", "/" %>
        </li>
        <li>
          <%= nav_link "Bier", "/bier" %>
        </li>
        <li>
          <%= nav_link "Verkoop", "#" %>
        </li>
        <li>
          <%= nav_link "Over ons", "#" %>
        </li>
        <li>
          <%= nav_link "Contact", "#" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
