<% events = dato.agenda_page.events %>

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.agenda_page) %>
<% end %>

<%= regular_header title: dato.agenda_page.title %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content do %>
    <%= markdownify(dato.agenda_page.content) %>
    <table role="table" class="responsive-table">
      <thead role="rowgroup">
        <tr role="row">
          <th role="columnheader"><%= t("events.date") %></th>
          <th role="columnheader"><%= t("events.event") %></th>
          <th role="columnheader"><%= t("events.location") %></th>
          <th role="columnheader">&nbsp;</th>
        </tr>
      </thead>
      <tbody role="rowgroup">
          <% if !events.empty? %>
            <% events.each do |event| %>
              <tr role="row">
                <td role="cell">
                  <%= local_date_time(event.start_date) %>
                  <% if event.end_date %> /
                    <%= local_date_time(event.end_date) %>
                  <% end %>
                </td>
                <td role="cell"><%= event.title %></td>
                <td role="cell"><%= event.location %></td>
                <td role="cell"><%= link_to t("events.link"), "#{event.url}", target: "_blank", rel: "noopener noreferrer nofollow", class: "text-green-default hover:no-underline" %></td>
              </tr>
            <% end %>
          <% else %>
            <tr role="row">
              <td colspan="4"><%= dato.agenda_page.no_upcoming_events_text %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
