---
title: "Contact"
description: "Neem contact op met Folkingebrew."
image: "assets/images/contact-1200x630.jpg"
sitemap_priority: 0.5
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-mash.jpg",
                                         title: "Contact"} %>

<section class="form">
  <div class="grid-row form-grid-row">
    <%= partial "content/contact" %>
    <%= partial "partials/form", locals: { name: "contact",
                                           title: "Contactformulier",
                                           fields: ["name", "email", "message"],
                                           button_text: "Verstuur",
                                           button_variant: "big"} %>
  </div>
</section>

<section>
  <div class="grid-row form-grid-row">
    <h2>
      Contactgegevens
    </h2>
    <strong>Folkingebrew</strong><br>
    Folkingestraat 18<br>
    9711 JW<br>
    Groningen<br>
    <%= link_to "folkingebrew@gmail.com", "mailto:folkingebrew@gmail.com" %><br>
    KVK: 71770895
  </div>
</section>

<%= partial "partials/newsletter-signup" %>
