---
title: "Distributors"
description: "Here you'll find our distributors in the Netherlands and abroad."
sitemap_priority: 0.5
---

<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      Distributors
    </h1>
  </div>
</header>

<%
distributor_lists = data["distributors"]
%>

<section class="distributors medium-row">
  <div class="grid-row">
    <div class="row">
      <p>
        In the lists below you'll find our distributors in the Netherlands and abroad. If you are a distributor and would like to carry our beer, you can contact us through <%= link_to "our contact form", "/contact.html" %>.
      </p>
      <% if distributor_lists %>
        <% distributor_lists.each do |region| %>
          <h2>
            <%= region.region %>
          </h2>
          <div class="distributors-wrapper">
            <% if region.distributors %>
              <% region.distributors.each do |distributor| %>
                <div class="distributor-item">
                  <h3>
                    <%= link_to "#{distributor.name}", "#{distributor.url}", target: "_blank", rel: "noopener noreferrer" %>
                  </h3>
                  <p>
                    <%= distributor.street %><br>
                    <%= distributor.postal_code %><br>
                    <%= distributor.city %><% if distributor.country %><br>
                    <%= distributor.country %><% end %>
                  </p>
                  <p>
                    <%= link_to "#{distributor.email}", "mailto:#{distributor.email}", target: "_blank" %>
                  </p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
