<% content_for(:head) do %>
  <%= dato_meta_tags(dato.faq_page) %>
<% end %>

<%= regular_header title: dato.faq_page.title %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content html: { class: "mb-10" } do %>
    <%= markdownify(dato.faq_page.content) %>
  <% end %>
  <div class="prose">
    <% dato.faq_page.questions.each do |question| %>
      <h2>
        <%= question.question %>
      </h2>
      <%= markdownify(question.answer) %>
    <% end %>
  </div>
<% end %>

<%= partial "partials/newsletter_signup" %>
