---
title: "Welkom bij Folkingebrew"
description: "Craft Bier uit Groningen sinds 2017."
sitemap_priority: 1
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         background_image: "banner-homepage.jpg",
                                         title: "Craft Bier uit Groningen sinds 2017"} %>

<section class="single-column">
  <div class="grid-row">
    <article>
      <%= partial "homepage/introduction" %>
    </article>
  </div>
</section>

<%= partial "partials/newsletter-signup" %>
<%= partial "partials/checkins" %>
<%= partial "partials/social-links" %>
