---
description: "Folkingebrew. Craft Bier uit Groningen sinds 2017."
sitemap_priority: 1
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         background_image: "banner-homepage.jpg",
                                         title: "We Love Hops"} %>

<section class="introduction single-column">
  <div class="grid-row">
    <h2>
      Craft Bier uit Groningen sinds 2017
    </h2>
    <article>
      <%= partial "homepage/introduction" %>
    </article>
  </div>
</section>

<section class="newsletter single-column small">
  <div class="grid-row">
    <h2>
      Nieuwsbrief
    </h2>
    <p>
      Wil je op de hoogte worden gehouden van onze releases? Schrijf je in voor onze nieuwsbrief!
    </p>
    <%= partial "partials/newsletter-signup" %>
  </div>
</section>

<section class="checkins">
  <div class="grid-row">
    <h2>
      Wie drinkt er?
    </h2>
    <div class="flex-wrapper">
      <%= partial "partials/checkins" %>
    </div>
    <a class="button big centered" href="https://untappd.com/Folkingebrew" target="_blank">Untappd profiel</a>
  </div>
</section>

<section class="social-links">
  <div class="grid-row">
    <h2>
      Volg ons
    </h2>

    <%= partial "partials/social-links" %>

  </div>
</section>
