---
title: "Folkingebrew | Modern Craft Beer from Groningen"
dont_append_page_title: true
description: "Modern Craft Beer from Groningen since 2017"
sitemap_priority: 1
blog: store
header_class: transparent-header
---
<section class="bg-blend-soft-light bg-green-default max-w-8xl px-6 bg-beers text-center -mt-16 sm:-mt-20 bg-center bg-no-repeat bg-cover h-screen flex flex-col justify-center items-center">
  <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "max-w-s mb-6" %>
  <h1 class="text-white text-3xl font-light">
    <%= t("pages.index.tagline") %>
  </h1>
</section>

<div class="bg-white py-20 px-6">
  <div class="max-w-2xl m-auto">
    <% markdown_content html: { class: "mb-6" } do %>
      <%= partial "content/introduction" %>
    <% end %>
    <%= button text: "More about us",
               link: true,
               href: "/about.html",
               type: :default,
               html: { class: "inline-block" } %>
  </div>
</div>

<% if ENV['USE_WEBSHOP'] == true %>
  <section class="pt-10 pb-20">
    <%= content_tag(:h2, t("webshop.store_highlights"), class: "mb-10 text-center text-4xl text-white") %>
    <div class="relative grid md:grid-cols-2 lg:grid-cols-3 gap-9 mb-10 max-w-7xl m-auto px-6">
      <% stocked_articles[0..2].each do |product| %>
        <%= product_card product: product %>
      <% end %>
    </div>
    <div class="px-6 text-center">
      <%= button text: "View all Products",
                 link: true,
                 href: "/store.html",
                 type: :default_white,
                 html: { class: "inline-block" } %>
    </div>
  </section>
<% end %>

<%#= partial "partials/shared/newsletter-subscribe", locals: { button_text: t("newsletter.subscribe")} %>
