---
title: "Folkingebrew | Modern Craft Beer from Groningen"
dont_append_page_title: true
description: "Modern Craft Beer from Groningen since 2017"
header_class: transparent-header
---
<section class="bg-blend-soft-light bg-green-default px-6 text-center -mt-16 sm:-mt-20 bg-center bg-no-repeat bg-cover h-screen flex flex-col justify-center items-center" style="background-image: url(<%= dato.homepage.background_image.url(fm: :webp, w: 1920, h: 1280) %>)">
  <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "max-w-s mb-6" %>
  <h1 class="text-white text-3xl font-light">
    <%= dato.homepage.tagline %>
  </h1>
</section>

<div class="bg-white py-20 px-6">
  <div class="max-w-2xl m-auto">
    <% markdown_content html: { class: "mb-6" } do %>
      <%= markdownify(dato.homepage.introduction) %>
    <% end %>
    <%= button text: "More about us",
               link: true,
               href: "/about.html",
               type: :default,
               html: { class: "inline-block" } %>
  </div>
</div>

<section class="pt-10 pb-20">
  <%= content_tag(:h2, t("webshop.store_highlights"), class: "mb-10 text-center text-4xl text-white") %>
  <% grid content_tag: :div do %>
    <% stocked_products[0..2].each do |product| %>
      <%= product_card product: product %>
    <% end %>
  <% end %>
  <div class="px-6 text-center">
    <%= button text: "View all Products",
               link: true,
               href: "/store/",
               type: :default_white,
               html: { class: "inline-block" } %>
  </div>
</section>

<%= partial "partials/newsletter_signup" %>
