---
title: "Folkingebrew | Modern Craft Beer from Groningen"
dont_append_page_title: true
description: "Modern Craft Beer from Groningen since 2017"
sitemap_priority: 1
blog: store
header_class: transparent-header
---
<section class="bg-blend-soft-light bg-green-default max-w-8xl px-6 bg-beers text-center -mt-16 sm:-mt-20 bg-center bg-no-repeat bg-cover h-screen flex flex-col justify-center items-center">
  <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "max-w-s mb-6" %>
  <h1 class="text-white text-3xl font-light">
    <%= t("pages.index.tagline") %>
  </h1>
</section>

<section class="bg-white py-20 px-6">
  <div class="max-w-2xl m-auto">
    <article class="prose max-w-none">
      <%= partial "content/introduction" %>
    </article>
  </div>
</section>

<!-- 
<section class="introduction wide-row" id="main-content">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/introduction" %>
      <div class="read-more">
        <%= partial "partials/button", locals: { to: "/about.html",
                                                 variant: "medium-size ghost green",
                                                 text: t("buttons.read_more_about_us"),
                                                 icon_right: "icons/arrow-right.svg"} %>
      </div>
    </div>
  </div>
</section>
<section class="products wide-row">
  <div class="grid-row products-row">
    <h2 class="products-header">
      <%= t("webshop.store_highlights") %>
    </h2>
    <div class="products-grid-wrap">
      <div class="products-grid feed">
        <div class="row">
          <% stocked_articles[0..2].each do |product| %>
            <%= partial "partials/store/product_preview", locals: { product: product } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-row all-products">
    <%= partial "partials/button", locals: { to: "/store/index.html",
                                             variant: "medium-size ghost no-border green",
                                             text: t("webshop.back_to_all_products"),
                                             icon_right: "icons/arrow-right.svg"} %>
  </div>
</section>
-->
<%#= partial "partials/shared/newsletter-subscribe", locals: { button_text: t("newsletter.subscribe")} %>
