---
title: "Folkingebrew - Craft bier brouwerij uit Groningen"
description: "Wij brouwen bieren die wij zelf graag drinken."
sitemap_priority: 1
blog: nieuws
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         background_image: "banner-hops.jpg",
                                         title: "Folkingebrew",
                                         sub_title: "Craft bier brouwerij uit Groningen",
                                         button_text: "Vertel me meer",
                                         button_link: "/over-ons/",
                                         button_variant: "green big"} %>

<a href="https://www.ajfkdjfkodjg.nl">broken link</a>

<%= partial "partials/featured-news-article" %>
<%= partial "partials/checkins" %>
<%= partial "partials/newsletter-signup" %>
<%= partial "partials/social-links" %>
