---
title: "Welkom bij Folkingebrew"
description: "Craft Bier uit Groningen sinds 2017."
sitemap_priority: 1
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         background_image: "banner-homepage.jpg",
                                         title: "Craft Bier uit Groningen"} %>

<section>
  <div class="grid-row">
    <article>
      <%= partial "homepage/introduction" %>
    </article>
  </div>
</section>

<%= partial "partials/newsletter-signup" %>

<section class="checkins">
  <div class="grid-row">
    <h2>
      Checkins
    </h2>
    <div class="flex-wrapper">
      <%= partial "partials/checkins" %>
    </div>
  </div>
</section>

<%= partial "partials/social-links" %>
