---
title: Folkingebrew - Modern Craft Beer from Groningen
description: Folkingebrew is a modern craft brewery based in Groningen, Netherlands. We brew bold, flavorful beers that are perfect for any occasion.
---

<% content_for(:page_class) do %>
  transparent-header
<% end %>

<section class="bg-blend-soft-light bg-green-default px-6 text-center -mt-16 sm:-mt-20 bg-center bg-no-repeat bg-cover h-screen flex flex-col justify-center items-center" style="background-image: url(<%= image_path 'hero-beers.jpg' %>">
  <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "max-w-s mb-6" %>
  <h1 class="text-white text-3xl font-light">
    Modern Craft Beer from Groningen
  </h1>
</section>

<div class="bg-white py-20 px-6">
  <div class="max-w-2xl m-auto">
    <% markdown_content html: { class: "mb-6" } do %>
      <h2 id="we-are-folkingebrew">We are Folkingebrew</h2>
      <p>Since our start with the brewing adventure our motto is to never stop dreaming and learning. We are always tweaking our beers to create the best beer we possibly can.</p>
    <% end %>
    <%= button text: "More about us",
               link: true,
               href: "/about.html",
               type: :default,
               html: { class: "inline-block" } %>
  </div>
</div>

<section class="pt-10 pb-20">
  <%= content_tag(:h2, t("webshop.highlights"), class: "mb-10 text-center text-4xl text-white") %>
  <% grid content_tag: :div do %>
    <% stocked_products.sample(3).each do |product| %>
      <%= product_card product: product %>
    <% end %>
  <% end %>
  <div class="px-6 text-center">
    <%= button text: "View all Products",
               link: true,
               href: "/webshop/",
               type: :default_white,
               html: { class: "inline-block" } %>
  </div>
</section>
