---
title: Local Dealers
description: "Local Dealers of Folkingebrew"
---

<% 
dealers = data.local_dealers
%>

<%= regular_header title: "Local FolkingebrewDealers" %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content html: { class: "mb-10" } do %>
    <p>In this list you’ll find the awesome places in and around Groningen where you can buy and/or drink Folkingebrew. If you are located in or around Groningen and want our beer in your product range, please <a href="/contact/">contact us</a>.</p>
  <% end %>
  <% if !dealers.empty? %>
    <div class="sm:flex sm:flex-wrap">
      <% dealers.each do |dealer| %>
        <div class="mb-10 text-base sm:w-1/2">
          <% content_tag(:h3, class: "text-lg") do %>
            <%= link_to "#{dealer.name}", "#{dealer.url}", class: "text-green-default underline hover:no-underline", target: "_blank", rel: "noopener noreferrer" %>
          <% end %>
          <% content_tag(:adress) do %>
            <%= dealer.address %><br>
            <%= dealer.postal_code %><br>
            <%= dealer.city %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>