---
title: "Local Dealers"
description: "Here you'll find the awesome places in and around Groningen where you can buy Folkingebrew beer, if available."
---
<% dealers = data["dealers"] %>

<%= regular_header title: t("pages.local.title") %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content html: { class: "mb-10" } do %>
    <%= partial "content/faq" %>
  <% end %>

  <div class="sm:flex sm:flex-wrap"> 
    <% dealers.each do |dealer| %>
      <div class="mb-10 text-base sm:w-1/2">
        <% content_tag(:h3) do %>
          <%= link_to "#{dealer.name}", "#{dealer.url}", class: "text-green-default underline hover:no-underline", target: "_blank", rel: "noopener noreferrer" %>
        <% end %>
        <% content_tag(:adress) do %>
          <%= dealer.street %><br>
          <%= dealer.postal_code %><br>
          <%= dealer.city %>
        <% end %>
      </div> 
    <% end %>
  </div>
<% end %>

<%= partial "partials/newsletter_signup" %>