<% dealers = dato.local_dealers_page.dealers %>

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.local_dealers_page) %>
<% end %>

<%= regular_header title: dato.local_dealers_page.title %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content html: { class: "mb-10" } do %>
    <%= markdownify(dato.local_dealers_page.content) %>
  <% end %>
  <% if !dealers.empty? %>
    <div class="sm:flex sm:flex-wrap">
      <% dealers.each do |dealer| %>
        <div class="mb-10 text-base sm:w-1/2">
          <% content_tag(:h3, class: "text-lg") do %>
            <%= link_to "#{dealer.name}", "#{dealer.url}", class: "text-green-default underline hover:no-underline", target: "_blank", rel: "noopener noreferrer" %>
          <% end %>
          <% content_tag(:adress) do %>
            <%= dealer.address %><br>
            <%= dealer.postcode %><br>
            <%= dealer.city %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>