---
title: "Thank you"
robots: noindex,nofollow
noindex: true
---
<section class="hero hero-big">
  <div class="grid-row">
    <div>
      <h1 class="thanks-title">
        <%= t("pages.thanks.title") %>
      </h1>
    </div>
    <div>
      <p class="thanks-message">
        <%= t("pages.thanks.text") %>
      </p>
    </div>
  </div>
</section>

<script>
// Get URL parameters
var urlParams = {};
window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
  urlParams[key] = decodeURIComponent(value);
});
document.addEventListener('DOMContentLoaded', function() {
  var titleEl = document.querySelector('body.thanks .thanks-title');
  var messageEl = document.querySelector('body.thanks .thanks-message');

  if (urlParams.newsletter) {
    var message;

    switch (urlParams.newsletter) {
      case 'subscribed':
        message = '<%= t("pages.thanks.newsletter.subscribed") %>';
        break;
      case 'confirmed':
        message = '<%= t("pages.thanks.newsletter.confirmed") %>';
        break;
      case 'unsubscribed':
        message = '<%= t("pages.thanks.newsletter.unsubscribed") %>';
        titleEl.innerHTML = '<%= t("pages.thanks.newsletter.unsubscribed-title") %>';
        break;
    }

    // Replace message with newsletter message if it was a newsletter action
    messageEl.innerHTML = message || '';
  }
});
</script>
